 {
}

.tp-caption.Flexform_h1 {
position:absolute;
color:#222!important;
text-shadow:none;
font-size:30px;
line-height:40px;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
padding:0px 0px;
padding-top:0px;
font-family:"Din Text Pro Regular", Verdana, sans-serif;
font-size-adjust:0.5;
font-weight:normal;
font-style:normal;
}

.tp-caption.Flexform_Sub {
position:absolute;
color:#222!important;
font-size:18px;
line-height:24px;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
padding:0px 0px;
padding-top:0px;
font-family:"Din Text Pro Regular", Verdana, sans-serif;
font-size-adjust:0.5;
font-weight:normal;
font-style:normal;
}

.tp-caption.Flexform_Sub_centre {
position:absolute;
color:#222!important;
font-size:18px;
line-height:24px;
margin:0px;
border-width:0px;
border-style:none;
text-align:center;
white-space:nowrap;
padding:0px 0px;
padding-top:0px;
font-family:"Din Text Pro Regular", Verdana, sans-serif;
font-size-adjust:0.5;
font-weight:normal;
font-style:normal;
}

.tp-caption.Flexform_BigCentreDark {
position:absolute;
color:#222!important;
font-size:48px;
line-height:52px;
margin:0px;
border-width:0px;
border-style:none;
text-align:center;
white-space:nowrap;
padding:0px 0px;
padding-top:0px;
font-family:"Din Text Pro Regular", Verdana, sans-serif;
font-size-adjust:0.5;
font-weight:normal;
font-style:normal;
}

